/* Use this for linking local font file */
@font-face {
    font-family: 'Quattrocento-Regular';
    src: url('../../webroot/font/google_fonts/Quattrocento-Regular.ttf');
}

body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

}

/* mainNav */
ul.navMenu > li, ul.nav-pills > li {
    margin-right: 30px;
}

/* Top Bar */
ul.topbar > li.nav-item {
    margin-right: 10px;
}

.navLogo {
    display: contents !important;
}

.login {
    display: block;
}

.login a {
    line-height: 0;
    color: #5c5c5c
}

.login a:hover {
    color: #0059ff;
}

.mainNav {
    height: 60px;
    background-color: #D5D5D5 !important;
    padding-left: 255px !important;
    font-size: 1.5rem;
}

.topbar {
    background-color: #e9ecef;
    max-height: 54px;
}

.topbarchange {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

.sidenavchange {
    position: fixed !important;
    top: 55px;
    z-index: 99;
}

#sidenav {
    position: absolute;
    width: 200px;
    left: 90px;
    margin-top: 20px;
}

#sidenav > ul {
    width: 220px;
}

.dataentry {
    position: relative;
    left: 290px;
    width: 75%;
    display: inline-block;
}

.dataentrychange {
    top:55px;
}

.caseNumber {
    font-size: 22px;
    position: absolute;
    left: 20px;
}

#searchBtn, #advsearch, .clearsearch {
    font-size: 20px !important;
}

/*
@media screen and (max-width: 1441px) {}
*/

@media screen and (max-width: 1367px) {
    #sidenav {
        left: 20px;
    }
    #sidenav > ul {
        width: 135px;
    }
    .dataentry {
        left: 120px;
        width: 91%;
    }
    .caseNumber {
        font-size: 16px;
        width: 360px;
    }
}

#chooseFile {
    display: none;
}

.searchmodal {
    left: -195px;
    width: 135%;
}

.subtabtitle {
    font-family: 'Quattrocento-Regular';
    text-align: center;
    font-size: 3.5em;
}

.modalheader {
    font-size: 2.5em;
    margin-left: 30px;
    width: 100%;
}

.duedate {
    font-size: 20px;
    text-align: left;
    padding-left: 10px !important;
}

.arrow {
    position: relative;
    top: -10px;
    font-size: 25px;
    color: teal;
}

.qco {
    color: rgb(0, 152, 247);
    cursor: pointer;
}

/* Making the search table color can be easily recognized */
tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* mainNav hover */
.dropdown:hover > .dropdown-menu {
    display: block;
}

/* topBar hover*/
li.nav-item:hover > .dropdown-menu {
    display: block;
}

/* Sidenav Dropdown hover effect */
.dropright:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu:hover + .dropdown-menu {
    display: inline-block;
}

.caseList{
    width: 410px;
    height: 300px;
}

#sidenav > ul > li {
    min-width: 85px;
}

.selval {
    background-color: #277fe1;
}

.selval > a,.selval > a:hover  {
    color: white;
}

.secdiff {
    display: flex;
    flex-direction: column;
}

.fieldInput {
    order: 2;
}

.secdiff > row {
    order: 1;
}

.secdiff > .secspace > nav {
    font-size: 15px;
}

.secspace > nav > ul > li {
    margin-right: 0;
}

.secdiff:nth-child(odd) {
    background-color: #f3f1f1;
    padding: 20px;
    margin: 20px 0px;
}

.secdiff:nth-child(even) {
    padding: 20px;
    margin: 20px 0px;
}

.prodiff:nth-child(odd) {
    padding: 20px;
}

.prodiff:nth-child(even) {
    background-color: #f3f1f1;
    padding: 20px;
}

tbody > tr {
    /*cursor: pointer;*/
}

#choosecon, #choosewf, #choosecro, .defworkflow {
    display: none;
}

.custworkflow {
    display: none;
    cursor: -webkit-grab;
    cursor: grab;
}

.custworkflow:active {
    display: none;
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

.custworkflow ul, #choosewf ul {
    list-style-type: none;
}

.card-body > button {
    position: relative;
    top: -8px;
}

#draggable {
    border: 3px dotted #7e7e7e;
    padding: 10px;
}

#draggable > div {
    background-color: rgba(247, 241, 183, 0.87);
}

.ui-state-highlight {
    height: 100px;
    border-color: red;
}

#draggable > .card > .card-body > button {
    display: none;
}

.workflow span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
  font-size: 17px;
}

.workflow span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.workflow:hover span {
  padding-right: 25px;
}

.workflow:hover span:after {
  opacity: 1;
  right: 0;
}

hr.wfhr {
    border-top: 2px dotted lightgrey;
}

.header-section {
    display: -webkit-inline-box;
}

.addbtnalert {
    display: none;
    text-align: center;
    padding: 5px 15px !important;
    height: 38px;
}

.secpag {
    display: -webkit-inline-box;
}

.selection > .select2-selection {
    height: 37px !important;
    border-color: lightgrey !important;
}

/* Assign Personnel */
#dropZone {
    width: 58%;
}
.personnelarea {
    width: 37%;
    min-height: 407px;
}
.personnel {
    width: 75px;
    padding: 5px 10px;
    margin:5px;
    border:1px solid #ccc;
    background-color: #eaeaea;
    display: inline-grid;
}
.stack {
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    margin: 20px;
}
.stackHdr {
    background-color: #eaeaea;
    border: 1px solid #fff;
    padding: 5px
}
.stackDrop1, .stackDrop2 {
    min-height:100px;
    padding: 15px;
}

.active {
    font-weight: 500;
}